{% extends 'base.html.twig' %}

{% block title %}Nouveau Tournoi - ArenaMind Admin{% endblock %}

{% block body %}
<div class="container py-4" style="max-width: 800px;">
    
    <div class="admin-header">
        <div class="admin-icon rounded-circle bg-success bg-opacity-10 p-3 text-success">
            <i class="fa-solid fa-trophy fa-2x"></i>
        </div>
        <div>
            <h1 class="admin-title mb-0">Créer un Tournoi</h1>
            <p class="text-secondary mb-0">Configurez les paramètres de la nouvelle compétition.</p>
        </div>
    </div>

    <div class="mt-5">
        {{ include('tournoi/_form.html.twig') }}
    </div>

</div>
{% endblock %}