security:
  password_hashers:
    App\Entity\User: 'auto'

  providers:
    app_user_provider:
      entity:
        class: App\Entity\User
        property: email

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false

    main:
      lazy: true
      provider: app_user_provider
      user_checker: App\Security\UserChecker
      form_login:
        login_path: ui_login
        check_path: ui_login
        default_target_path: ui_profile
      logout:
        path: ui_logout
        target: ui_login

  access_control:
    - { path: ^/admin, roles: PUBLIC_ACCESS }
    - { path: ^/profile, roles: ROLE_USER }
    - { path: ^/forgot-password, roles: PUBLIC_ACCESS }
    - { path: ^/reset-password, roles: PUBLIC_ACCESS }
    - { path: ^/login, roles: PUBLIC_ACCESS }
    - { path: ^/register, roles: PUBLIC_ACCESS }
    - { path: ^/, roles: PUBLIC_ACCESS }
