{% extends 'base.html.twig' %}
{% block title %}Access Denied{% endblock %}

{% block body %}
<h1>Access denied</h1>
<p class="subtitle">Admin area (UI-only). Use <b>?as=admin</b>.</p>
<div class="link">
    <a href="/login">Go to login</a>
</div>
{% endblock %}
