{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}

{% block body %}
<h1>Create Account</h1>
<p class="subtitle">Join the ArenaMind Esports platform</p>

<form>
    <label>Username</label>
    <input placeholder="PlayerOne" required>

    <label>Email</label>
    <input type="email" placeholder="player@email.com" required>

    <label>Password</label>
    <input type="password" placeholder="Min 6 characters" required>

    <label>Role</label>
    <select>
        <option>PLAYER</option>
        <option>CAPTAIN</option>
        <option>FAN</option>
    </select>

    <button>Create account</button>
</form>

<div class="link">
    Already have an account? <a href="/login">Login</a>
</div>
{% endblock %}
